@charset "utf-8";
@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;300;400;500;700;900&display=swap");
@import url("../fonts/metropolis.css");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  color: #000;
  text-decoration: none;
}

img {
  border: 0;
  vertical-align: middle;
}

ul,
li {
  list-style: none;
}

body {
  font-family: "Metropolis", "Noto Sans KR", sans-serif;
  font-size: 18px;
  font-weight: 300;
  line-height: 1;
  letter-spacing: -0.025em;
  color: #666;
  /* padding-top: 200px; */
}

/* Common Class */
.clearfix::after {
  content: "";
  position: relative;
  display: block;
  width: 100%;
  clear: both;
}

.swiper-container {
  width: 100%;
  height: 100%;
}

.wrap {
  position: relative;
  display: block;
  overflow-x: hidden;
}

/* HEADER */
.header {
  position: relative;
  /* top: 0; */
  display: block;
  width: 100%;
  height: 155px;
  background: #fff;
  z-index: 999999;
}

.header-wrap {
  position: relative;
  display: block;
  width: calc(100% - 160px);
  margin: 0 auto;
}

.header-top {
  position: relative;
  display: block;
  padding: 20px 0;
}

.header-top-list {
  position: relative;
  display: block;
  float: right;
}

.header-top-list > li {
  position: relative;
  display: block;
  float: left;
}

.header-top-list > li > a {
  position: relative;
  display: block;
  font-size: 15px;
  font-weight: 400;
  line-height: 36px;
  color: #666;
}

.header-top-list > li:first-child > a {
  margin-right: 30px;
}

.header__wedding {
  width: 117px;
  height: 36px;
  font-weight: 500 !important;
  text-align: center;
  border-radius: 50px;
  color: #fff !important;
  background: #f78192 url("../images/wedding-icon.png") no-repeat left 15px
    center;
  padding: 1px 15px 0 34px;
  margin-left: 26px;
}

.header__bed-mall {
  width: 112px;
  height: 36px;
  font-weight: 500 !important;
  text-align: center;
  border-radius: 50px;
  color: #fff !important;
  background: #9badb6;
  padding: 1px 0 0 1.5px;
  margin-left: 5px;
}

.header-main {
  position: relative;
  display: block;
  padding-bottom: 88px;
}

.gnb-1 {
  position: relative;
  display: block;
  float: left;
}

.gnb-1-list {
  position: relative;
  display: block;
}

.gnb-1-list > li {
  position: relative;
  display: block;
  float: left;
  padding-right: 40px;
}

.gnb-1-list > li > a,
.gnb-2-list > li > a {
  position: relative;
  display: block;
  font-size: 16px;
  font-weight: 500;
  line-height: 36px;
  color: #333;
}

.header__logo {
  position: absolute;
  top: -6px;
  left: 50%;
  transform: translateX(-50%);
  display: block;
  width: 182px;
  height: 48px;
  margin: 0 auto;
}

.gnb-2 {
  position: relative;
  display: block;
  float: right;
  padding-right: 107px;
}

.gnb-2-list {
  position: relative;
  display: block;
}

.gnb-2-list > li {
  position: relative;
  display: block;
  float: left;
  padding-left: 40px;
}

.header__icon {
  position: absolute;
  top: 8px;
  display: block;
  height: 18px;
  font-size: 0;
}

.header__icon--srch {
  right: 56px;
  width: 17px;
  background: url("../images/gnb-srch-btn.png") no-repeat center;
}

.header__icon--menu {
  right: 0px;
  width: 26px;
  background: url("../images/all-menu-btn.png") no-repeat center;
}

/* CONTENTS */
.cont {
  position: relative;
  display: block;
}

/* MAIN */
.main {
  position: relative;
  display: block;
}

.main-swiper {
  position: relative;
  display: block;
}

.sw-main {
  position: relative;
  display: block;
  width: 100%;
  height: calc(100vh - 280px);
  margin-top: 45px;
  z-index: 0;
}

.sw-main .swiper-wrapper {
  position: relative;
  width: calc(100% - 160px);
  height: 100%;
  margin: 0 auto;
}

.sw-main .swiper-slide {
  position: relative;
  display: block;
  width: 100%;
  height: 100%;
}

.sw-main-link span {
  position: relative;
  display: block;
  width: calc(100% - 160px);
  height: 100%;
  background-size: cover;
  background-position: center;
}

.sw-main-link span video {
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.sw-main-link-2 span {
  background-image: url("../images/main-2.jpg");
}

.sw-main-link-3 span {
  background-image: url("../images/main-3.jpg");
}

.sw-main-link-4 span {
  background-image: url("../images/main-4.jpg");
}

.sw-main-nav {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  display: block;
  width: 100%;
  height: 135px;
  font-size: 0;
}

.sw-main__prev {
  position: absolute;
  top: 0;
  left: 0;
  width: 80px;
  height: 100%;
  cursor: pointer;
  z-index: 9;
}

.sw-main__prev::before {
  content: "";
  position: relative;
  display: block;
  width: 4px;
  height: 100%;
  background: #c9c9c9;
  margin: 0 auto;
}

.sw-main__next {
  position: absolute;
  top: 0;
  right: 0;
  width: 80px;
  height: 100%;
  cursor: pointer;
  z-index: 9;
}

.sw-main__next::before {
  content: "";
  position: relative;
  display: block;
  width: 4px;
  height: 100%;
  background: #c9c9c9;
  margin: 0 auto;
}

/* ACE SCIENCE */
.sci {
  position: relative;
  display: block;
  width: 100%;
  height: 891px;
  margin: 147px 0 80px 0;
}

.sci-top {
  position: relative;
  display: block;
  margin-bottom: 41px;
}

.sci__tit {
  position: relative;
  display: block;
  width: 100%;
  font-size: 50px;
  font-weight: 300;
  text-align: center;
  letter-spacing: 2px;
  color: #333;
}

.sci__more {
  position: absolute;
  top: 14px;
  right: 240px;
  display: block;
  font-size: 16px;
  letter-spacing: 1px;
  color: #666;
}

.sci__more::after {
  content: "";
  display: inline-block;
  width: 30px;
  height: 1px;
  vertical-align: middle;
  background: #666;
  margin-left: 14px;
}

.sci-main {
  position: relative;
  display: block;
}

.sci-swiper {
  position: relative;
  display: block;
  width: calc(100% - 320px);
  overflow: hidden;
  margin: 0 auto;
}

.sw-sci {
  position: relative;
  display: block;
  width: calc(100% - 820px);
  max-width: 710px;
  height: 800px;
  margin: 0 auto;
}

.sw-sci .swiper-slide {
  position: relative;
  display: block;
  width: 710px;
  height: 800px;
  overflow: hidden;
}

.sw-sci video {
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  display: block;
}

.sw-sci__pg {
  position: absolute;
  top: 50%;
  left: 0;
  transform: translateY(-50%);
  display: block;
  width: 300px;
  height: 150px;
  opacity: 1;
  z-index: 9;
}

.sw-sci__pg .swiper-pagination-bullet {
  position: relative;
  display: block;
  width: 100%;
  height: 17px;
  font-size: 16px !important;
  letter-spacing: 1px;
  color: #999;
  background: red;
  opacity: 1;
  margin-bottom: 27px;
  transition: all 0.5s;
}

.sw-sci__pg .swiper-pagination-bullet:last-child {
  margin-bottom: 0;
}

.sw-sci__pg .swiper-pagination-bullet-active {
  font-size: 22px;
  font-weight: bold;
  color: #0890c0;
}

.sci-txt-area {
  position: absolute;
  top: 50%;
  right: 0;
  transform: translateY(-50%);
  display: block;
  width: 385px;
  z-index: 9;
}

.sci-txt-wrap-2,
.sci-txt-wrap-3,
.sci-txt-wrap-4 {
  display: none;
}

.sci__txt-1 {
  position: relative;
  display: block;
  font-size: 40px;
  font-weight: 500;
  line-height: 54px;
  letter-spacing: -3px;
  color: #333;
}

.sci__txt-2 {
  position: relative;
  display: block;
  font-size: 20px;
  line-height: 30px;
  margin-top: 24px;
}

.sw-sci-nav {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  display: block;
  width: 100%;
  height: 135px;
  font-size: 0;
}

.sw-sci__prev {
  position: absolute;
  top: 0;
  left: 0;
  width: 80px;
  height: 100%;
  cursor: pointer;
  z-index: 9;
}

.sw-sci__prev::before {
  content: "";
  position: relative;
  display: block;
  width: 4px;
  height: 100%;
  background: #c9c9c9;
  margin: 0 auto;
}

.sw-sci__next {
  position: absolute;
  top: 0;
  right: 0;
  width: 80px;
  height: 100%;
  cursor: pointer;
  z-index: 9;
}

.sw-sci__next::before {
  content: "";
  position: relative;
  display: block;
  width: 4px;
  height: 100%;
  background: #c9c9c9;
  margin: 0 auto;
}

/* ACE COLLECETION & ACE NEWS */
.collandnews {
  position: relative;
  display: block;
  background: #f4f7fa;
}

/* ACE COLLECTION */
.coll {
  position: relative;
  display: block;
  padding-top: 150px;
}

.coll__tit {
  position: relative;
  display: block;
  width: 100%;
  font-size: 50px;
  font-weight: 300;
  text-align: center;
  letter-spacing: 2px;
  color: #333;
}

.coll-top {
  position: relative;
  display: block;
}

.coll__more {
  position: absolute;
  top: 20px;
  right: 160px;
  display: block;
  font-size: 16px;
  letter-spacing: 1px;
  color: #666;
}

.coll__more::after {
  content: "";
  display: inline-block;
  width: 30px;
  height: 1px;
  vertical-align: middle;
  background: #666;
  margin-left: 14px;
}

.coll-tab {
  position: relative;
  display: block;
  text-align: center;
  font-size: 0;
  margin-top: 43px;
}

.coll__menu {
  position: relative;
  display: inline-block;
  font-size: 22px;
  vertical-align: middle;
  color: #888;
  cursor: pointer;
}

.coll__menu--focused {
  font-weight: bold;
  color: #0890c0;
}

.coll-tab__bar {
  position: relative;
  display: inline-block;
  width: 2px;
  height: 20px;
  vertical-align: middle;
  background: #ddd;
  margin: 0 26px;
}

.coll-main {
  position: relative;
  display: block;
  margin-top: 50px;
}

.coll-new-swiper {
  display: block;
}

.coll-reco-swiper {
  display: none;
}

.sw-coll {
  position: relative;
  display: block;
  width: 1280px;
  height: 720px;
  overflow: visible;
  margin-bottom: 40px;
}

.sw-coll .swiper-wrapper {
  z-index: 1;
}

.sw-coll .swiper-slide {
  position: relative;
  display: block;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.sw-coll .swiper-slide::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  display: block;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  transition: all 0.4s ease;
}

.sw-coll .swiper-slide-active::after {
  background: transparent;
}

.sw-coll__img {
  position: relative;
  display: block;
  width: 100%;
  height: 100%;
}

.sw-coll__img::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  display: block;
  width: 1280px;
  height: 720px;
  background: url("../images/dimd2_main.png");
}

.sw-coll__img img {
  width: 100%;
}

.coll-txt-area {
  position: absolute;
  top: 100px;
  left: 100px;
  display: block;
  color: #fff;
  z-index: 9;
  opacity: 0;
  transition: all 2s 0.5s;
}

.swiper-slide-active .coll-txt-area {
  opacity: 1;
}

.coll-tag-area {
  position: relative;
  display: block;
  font-size: 0;
}

.coll__tag {
  position: relative;
  display: inline-block;
  font-size: 16px;
  line-height: 30px;
  border: 1px solid #fff;
  border-radius: 15px;
  padding: 0 10px;
}

.coll__name {
  position: relative;
  display: block;
  font-size: 30px;
  font-weight: bold;
  margin-top: 30px;
}

.coll__desc {
  position: relative;
  display: block;
  font-size: 18px;
  line-height: 30px;
  margin-top: 30px;
}

.coll-view-btn {
  position: relative;
  display: block;
  width: 108px;
  text-align: center;
  padding: 0 29px;
  margin-top: 60px;
  overflow: hidden;
}

.coll-view-btn::before {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  display: block;
  width: 100%;
  height: 100%;
  border: 1px solid #fff;
  box-sizing: border-box;
}

.coll-view-btn::after {
  content: "";
  position: absolute;
  left: 0;
  top: 100%;
  display: block;
  width: 100%;
  height: 100%;
  background: #0890c0;
  opacity: 0;
  transition: all 0.4s ease;
}

.coll-view-btn:hover::after {
  top: 0;
  opacity: 1;
}

.coll__view {
  position: relative;
  display: block;
  font-size: 16px;
  font-weight: 500;
  line-height: 50px;
  color: #fff;
  z-index: 9;
}

.sw-coll-nav {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  display: block;
  width: 100%;
  height: 135px;
  font-size: 0;
}

.sw-coll__prev {
  position: absolute;
  top: 0;
  left: 0;
  width: 80px;
  height: 100%;
  cursor: pointer;
  z-index: 9;
}

.sw-coll__prev::before {
  content: "";
  position: relative;
  display: block;
  width: 4px;
  height: 100%;
  background: #c9c9c9;
  margin: 0 auto;
}

.sw-coll__next {
  position: absolute;
  top: 0;
  right: 0;
  width: 80px;
  height: 100%;
  cursor: pointer;
  z-index: 9;
}

.sw-coll__next::before {
  content: "";
  position: relative;
  display: block;
  width: 4px;
  height: 100%;
  background: #c9c9c9;
  margin: 0 auto;
}

.sw-coll__sb {
  position: relative;
  display: block;
  width: 1280px;
  height: 4px;
  background: #dbdee1;
  margin: 0 auto;
}

.sw-coll__sb .swiper-scrollbar-drag {
  width: 33.33%;
  background: #0890c0;
}

/* ACE NEWS */
.news {
  position: relative;
  display: block;
  padding: 150px 0;
}

.news-top {
  position: relative;
  display: block;
}

.news__tit {
  position: relative;
  display: block;
  font-size: 50px;
  font-weight: 300;
  line-height: 1.24;
  letter-spacing: 4.5px;
  text-align: center;
  color: #333;
  margin-bottom: 45px;
}

.news-main {
  position: relative;
  display: block;
  width: 1440px;
  margin: 0 auto;
}

.news__txt {
  position: absolute;
  top: 50%;
  left: 0;
  transform: translateY(-50%);
  display: block;
  font-size: 26px;
  line-height: 40px;
  color: #333;
}

.sw-news {
  position: relative;
  display: block;
  width: 710px;
  height: 710px;
  margin: 0 auto;
}

.sw-news-tab {
  position: absolute;
  top: 50%;
  right: 0;
  transform: translateY(-50%);
  display: block;
  width: 315px;
}

.sw-news__menu {
  position: relative;
  display: block;
  color: #999;
  border-bottom: 1px solid #ebebeb;
  padding: 40px 0;
}

.sw-news__menu--focused {
  color: #0890c0;
}

.sw-news__menu em {
  position: relative;
  display: block;
  font-size: 16px;
  font-weight: 700;
  font-style: normal;
  margin-bottom: 15px;
}

.sw-news__menu span {
  position: relative;
  display: block;
  font-size: 20px;
  line-height: 32px;
}

/* NOW SNS */
.sns {
  position: relative;
  display: block;
  padding: 150px 0;
}

.sns-top {
  position: relative;
  display: block;
}

.sns__tit {
  position: relative;
  display: block;
  font-size: 50px;
  font-weight: 300;
  letter-spacing: 2px;
  text-align: center;
  color: #333;
  margin-bottom: 40px;
}

.sns-main {
  position: relative;
  display: block;
  width: 1440px;
  margin: 0 auto;
}

.sns-area {
  position: relative;
  display: block;
  margin-bottom: 40px;
}

.sns-area a {
  position: relative;
  display: block;
  float: left;
  width: 330px;
  height: 330px;
  overflow: hidden;
  margin-right: 40px;
}

.sns-area a:last-child {
  margin-right: 0;
}

.sns-area a img {
  position: relative;
  display: block;
  width: 100%;
  height: auto;
  transform: scale(1);
  transition: all 1s ease-out;
}

.sns-area a img:hover {
  transform: scale(1.1);
}

.sns-icon-area {
  position: relative;
  display: block;
  font-size: 0;
  text-align: center;
  padding-top: 10px;
}

.sns__icon {
  position: relative;
  display: inline-block;
  width: 30px;
  height: 27px;
  margin: 0 23px;
}

.sns__icon--i {
  background: url("../images/sns_icon_i.png") no-repeat center;
}
.sns__icon--f {
  background: url("../images/sns_icon_f.png") no-repeat center;
}
.sns__icon--b {
  background: url("../images/sns_icon_b.png") no-repeat center;
}
.sns__icon--y {
  background: url("../images/sns_icon_y.png") no-repeat center;
}

/* MAP */
.map {
  position: relative;
  display: block;
  padding-bottom: 165px;
  margin-bottom: 150px;
}

.map-bg {
  position: relative;
  display: block;
  height: 500px;
  font-size: 0;
  background: url("../images/map.jpg") no-repeat;
  background-size: cover;
}

.srch-box {
  position: absolute;
  top: 240px;
  left: calc(50% + 380px);
  display: block;
  width: 340px;
  height: 340px;
  background: #0890c0;
  padding: 95px 70px 90px 70px;
}

.srch-box__txt {
  position: relative;
  display: block;
  font-size: 20px;
  line-height: 30px;
  text-align: center;
  color: #fff;
  margin-bottom: 52px;
}

.srch-box-input {
  position: relative;
  display: block;
  border-bottom: 2px solid #ebebeb;
}

.srch-box__input {
  position: relative;
  display: block;
  float: left;
  width: calc(100% - 27px);
  height: 40px;
  font-size: 16px;
  line-height: 30px;
  letter-spacing: -0.6px;
  border: 0;
  color: rgba(255, 255, 255, 1);
  background: none;
}

.srch-box__input::placeholder {
  color: rgba(255, 255, 255, 0.5);
}

.srch-box__input:focus {
  outline: none;
}

.srch-box__icon {
  position: relative;
  display: block;
  float: left;
  width: 27px;
  height: 40px;
  font-size: 0;
  background: url("../images/srch_box_icon.png") no-repeat center center;
}

.map-menu {
  position: absolute;
  bottom: 0;
  right: calc(50% + 92px);
  display: block;
  width: 700px;
  height: 98px;
}

.map__menu {
  position: relative;
  display: block;
  float: left;
  width: 33.33%;
  text-align: center;
  border-right: 1px solid #ebebeb;
}

.map__menu:last-child {
  border-right: 1px solid transparent;
}

.map__menu--mn {
  background: url("../images/map_menu_1.png") no-repeat top;
}

.map__menu--as {
  background: url("../images/map_menu_2.png") no-repeat top;
}

.map__menu--qs {
  background: url("../images/map_menu_3.png") no-repeat top;
}

.map__menu span {
  position: relative;
  display: block;
  font-size: 20px;
  color: #333;
  padding-top: 73px;
}

/* CS */
.cs {
  position: relative;
  display: block;
  height: 362px;
}

.cs-left {
  position: relative;
  display: block;
  float: left;
  width: 50%;
  height: 100%;
  background: #f4f4f4;
}

.cs-left-cont {
  position: relative;
  display: table;
  float: right;
  width: 630px;
  height: 100%;
  table-layout: fixed;
}

.cs-sc {
  position: relative;
  display: table-cell;
  width: 276px;
  vertical-align: middle;
}

.cs__tit {
  position: relative;
  display: block;
  font-size: 16px;
  font-weight: bold;
  color: #333;
  margin-bottom: 35px;
}

.cs__call {
  position: relative;
  display: block;
  font-size: 40px;
  color: #333;
  letter-spacing: 3px;
  margin-bottom: 6px;
}

.cs__time {
  position: relative;
  display: block;
  font-size: 16px;
  color: #888;
}

.cs-as {
  position: relative;
  display: table-cell;
  width: 354px;
  vertical-align: middle;
}

.cs-right {
  position: relative;
  display: table;
  float: left;
  width: 50%;
  height: 100%;
  padding-left: 143px;
}

.cs-right-cont {
  position: relative;
  display: table-cell;
  vertical-align: middle;
}

.cs__txt {
  position: relative;
  display: block;
  font-size: 30px;
  font-weight: 400;
  line-height: 40px;
  color: #333;
  margin-bottom: 30px;
}

.cs-link-box {
  position: relative;
  display: block;
  font-size: 0;
}

.cs__link {
  position: relative;
  display: inline-block;
  font-size: 16px;
  font-weight: 500;
  line-height: 48px;
  letter-spacing: 1px;
  color: #777;
  border: 1px solid #d1d1d1;
  border-radius: 1px;
  padding: 0 28px;
  margin-right: 10px;
  transition: all 0.5s;
}

.cs__link:hover {
  border: 1px solid transparent;
  color: #fff;
  background: #0890c0;
}

.cs__more {
  position: absolute;
  bottom: 34px;
  left: 145px;
  display: block;
  font-size: 16px;
  font-weight: 300;
  line-height: 26px;
  letter-spacing: 2px;
  color: #666;
  margin-top: -13px;
}

.cs__more::after {
  content: "";
  display: inline-block;
  width: 30px;
  height: 1px;
  vertical-align: middle;
  background: #666;
  margin-left: 14px;
}

/* SIDE BUTTON */
.side-btn {
  position: fixed;
  bottom: 0;
  right: 0;
  display: block;
  z-index: 99999;
}

.side-btn-abs {
  position: absolute;
}

.go-top {
  position: relative;
  display: block;
  width: 80px;
  height: 50px;
  text-align: center;
  cursor: pointer;
  opacity: 0;
  transition: all 0.5s ease;
}

.go-top-show {
  opacity: 1;
}

.go-top span {
  position: relative;
  display: block;
  font-size: 13px;
  font-weight: 700;
  line-height: 50px;
  letter-spacing: 0.8px;
  color: #333;
}

.quick {
  position: relative;
  display: block;
  width: 80px;
  height: 80px;
  text-align: center;
  line-height: 80px;
  background: #f0f0f0;
  cursor: pointer;
  transition: all 0.5s ease;
}

.quick:hover {
  background: #0890c0;
}

.quick span {
  position: relative;
  display: block;
  font-size: 0;
}

.quick span::before {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: block;
  width: 2px;
  height: 28px;
  background: #919191;
}

.quick:hover span::before {
  background: #fff;
}

.quick span::after {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: block;
  width: 28px;
  height: 2px;
  background: #919191;
}

.quick:hover span::after {
  background: #fff;
}

/* FOOTER */
.footer {
  position: relative;
  display: block;
  height: 220px;
  padding: 60px 80px 62px 80px;
}

.footer-link-list {
  position: relative;
  display: block;
  margin-bottom: 10px;
}

.footer-link-list li {
  position: relative;
  display: block;
  float: left;
  margin-right: 50px;
}

.footer__link {
  position: relative;
  display: block;
  font-size: 16px;
  font-weight: 400;
  line-height: 36px;
  color: #333;
}

.footer__link--em {
  font-weight: 700;
  color: #0890c0;
}

.footer__addr {
  position: relative;
  display: block;
  font-size: 14px;
  font-weight: 300;
  font-style: normal;
  line-height: 30px;
  color: #777;
}

.footer__copy {
  position: relative;
  display: block;
  font-size: 12px;
  font-weight: 300;
  line-height: 22px;
  letter-spacing: 1px;
  color: #777;
}

.family {
  position: absolute;
  top: 80px;
  right: 80px;
  display: block;
  width: 240px;
}

.family__btn {
  position: relative;
  display: block;
  font-size: 16px;
  font-weight: 300;
  letter-spacing: 0.4px;
  color: #333;
  padding: 15px 0;
  background: url("../images/family-open.png") no-repeat right center;
  border-bottom: 2px solid #000;
  cursor: pointer;
}

.family-link-box {
  position: absolute;
  bottom: 0;
  left: 0;
  display: none;
  width: 100%;
  background: #000;
  padding: 14px 20px;
  z-index: 9;
}

.family-link-list {
  position: relative;
  display: block;
}

.family__link {
  position: relative;
  display: block;
  width: 100%;
  font-size: 16px;
  font-weight: 300;
  color: #fff;
  padding-bottom: 26px;
}

.family__link:last-child {
  padding-bottom: 0;
}

.family__close-btn {
  position: absolute;
  bottom: 14px;
  right: 12px;
  display: block;
  width: 80px;
  height: 16px;
  background: url("../images/family-close.png") no-repeat right center;
  cursor: pointer;
}
