@charset "utf-8";
@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;300;400;500;700;900&display=swap");
@import url("../fonts/metropolis.css");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  color: #000;
  text-decoration: none;
}

img {
  border: 0;
  vertical-align: middle;
}

ul,
li {
  list-style: none;
}

html {
  font-size: 10px;
}

body {
  font-family: "Metropolis", "Noto Sans KR", sans-serif;
  font-size: 1.8rem;
  font-weight: 300;
  line-height: 1;
  letter-spacing: -0.025rem;
  color: #666;
}

/* Common Class */
.lock {
  height: 100%;
  overflow: hidden;
}

.clearfix::after {
  content: "";
  position: relative;
  display: block;
  width: 100%;
  clear: both;
}

.swiper-container {
  width: 100%;
  height: 100%;
}

.wrap {
  position: relative;
  display: block;
  overflow-x: hidden;
}

/* HEADER */
.header {
  position: absolute;
  top: 0;
  display: block;
  width: 100%;
  height: 155px;
  background: #fff;
  z-index: 999999;
  transition: all 0.5s;
}

.header--scr-up {
  position: fixed;
}

.header--scr-down {
  position: fixed;
  top: -155px;
}

.header-wrap {
  display: block;
  width: calc(100% - 16rem);
  margin: 0 auto;
}

.header-top {
  display: block;
  padding: 2rem 0;
}

.header-top-list {
  display: block;
  float: right;
}

.header-top-list>li {
  display: block;
  float: left;
}

.header-top-list>li>a {
  display: block;
  font-size: 15px;
  font-weight: 400;
  line-height: 36px;
  color: #666;
}

.header-top-list>li:first-child>a {
  margin-right: 3rem;
}

.header__wedding {
  width: 117px;
  height: 36px;
  font-weight: 500 !important;
  text-align: center;
  border-radius: 5rem;
  color: #fff !important;
  background: #f78192 url("../images/wedding-icon.png") no-repeat left 15px center;
  padding: 1px 15px 0 34px;
  margin-left: 26px;
}

.header__bed-mall {
  width: 112px;
  height: 36px;
  font-weight: 500 !important;
  text-align: center;
  border-radius: 5rem;
  color: #fff !important;
  background: #9badb6;
  padding: 1px 0 0 1.5px;
  margin-left: 5px;
}

.header-main {
  position: relative;
  display: block;
  padding-bottom: 88px;
}

.gnb-1 {
  display: block;
  float: left;
}

.gnb-1-list {
  display: block;
}

.gnb-1-list>li {
  display: block;
  float: left;
  padding-right: 4rem;
}

.gnb-1-list>li>a,
.gnb-2-list>li>a {
  display: block;
  font-size: 16px;
  font-weight: 500;
  line-height: 36px;
  color: #333;
}

.header__logo {
  position: absolute;
  top: -6px;
  left: 50%;
  transform: translateX(-50%);
  display: block;
  width: 182px;
  height: 48px;
  margin: 0 auto;
}

.gnb-2 {
  display: block;
  float: right;
  padding-right: 107px;
}

.gnb-2-list {
  display: block;
}

.gnb-2-list>li {
  display: block;
  float: left;
  padding-left: 4rem;
}

.header__icon {
  position: absolute;
  top: 8px;
  display: block;
  height: 18px;
  font-size: 0;
  cursor: pointer;
}

.header__icon--srch {
  right: 56px;
  width: 17px;
  background: url("../images/gnb-srch-btn.png") no-repeat center;
}

.header__icon--all {
  right: 0;
  width: 26px;
  background: url("../images/all-menu-btn.png") no-repeat center;
}

.srch {
  position: absolute;
  left: 0;
  top: 11.5rem;
  display: none;
  width: 100%;
  padding: 8.5rem 0 8rem 0;
  background: #fff;
}

.srch-input-area {
  position: relative;
  width: 65rem;
  padding-right: 4rem;
  margin: 0 auto;
}

.srch-input-area::after {
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  display: block;
  width: 100%;
  height: .3rem;
  background: #000;
}

.srch__input {
  width: 100%;
  height: 6rem;
  font-size: 2rem;
  font-weight: 300;
  line-height: 6rem;
  letter-spacing: -.06rem;
  color: #333;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  border: 0;
}

.srch__input:focus {
  outline: none;
}

.srch__btn {
  position: absolute;
  right: 0;
  top: 1.3rem;
  width: 2.7rem;
  height: 2.8rem;
  font-size: 0;
  background: url('../images/srch-btn.png') no-repeat center;
}

.srch__close {
  position: absolute;
  left: 50%;
  bottom: -4.2rem;
  transform: translateX(-50%);
  display: block;
  width: 2.2rem;
  height: 2.2rem;
  font-size: 0;
  background: url('../images/srch-x-btn.png') no-repeat center;
  cursor: pointer;
}

.all {
  position: absolute;
  left: 100%;
  top: 0;
  display: flex;
  width: 100%;
  height: 100vh;
  background: #fff;
  z-index: 9999999;
  transition: all .5s ease;
}

.all--open {
  left: 0;
}

.all-left {
  position: relative;
  display: block;
  width: 71rem;
  height: 100%;
  padding: 7rem 8rem;
}

.all-lang {
  position: relative;
  display: block;
  font-size: 0;
  margin-bottom: 8rem;
  z-index: 9;
}

.all-lang a {
  position: relative;
  display: inline-block;
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 4.5rem;
  color: #fff;
  padding: 0 1.8rem;
}

.all-lang a:first-child {
  font-weight: 700;
  padding-left: 0;
}

.all-lang a::after {
  content: '';
  position: absolute;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
  display: block;
  width: 0.1rem;
  height: 0.9rem;
  background: #fff;
  opacity: 0.2;
}

.all-lang a:last-child::after {
  display: none;
}

.all-cate-area {
  display: block;
  width: 100%;
}

.all-cate {
  display: block;
  width: 100%;
}

.all-cate-img {
  position: absolute;
  left: 0;
  top: 0;
  height: 100vh;
  overflow: hidden;
  opacity: 0;
  transition: all 0.4s ease;
}

.all-cate-1 .all-cate-img {
  opacity: 1;
}

.all-cate-img img {
  width: 100%;
  height: 100%;
  transform: scale(1.07);
  transition: all 1s ease-out;
}

.only-web {
  display: block !important;
}

.only-mob {
  display: none !important;
}

.all-cate-txt {
  position: relative;
  display: flex;
}

.all-cate-main {
  position: relative;
  display: flex;
  width: 30rem;
  margin-bottom: 3rem;
}

.all-cate-main>span {
  display: inline-block;
  width: auto;
  font-size: 3.4rem;
  font-weight: 700;
  line-height: 1;
  color: #fff;
  opacity: 0.4;
  cursor: pointer;
  z-index: 9;
}

.all-cate__line {
  position: absolute;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
  display: block;
  width: 100%;
  height: 0.1rem;
  padding-left: 3rem;
  margin-bottom: 0.5rem;
}

.all-cate-1 .all-cate__line {
  width: 23rem;
}

.all-cate-2 .all-cate__line {
  width: 10.5rem;
}

.all-cate-3 .all-cate__line {
  width: 8.9rem;
}

.all-cate-4 .all-cate__line {
  width: 9.4rem;
}

.all-cate__line span {
  display: block;
  width: 0;
  height: 100%;
  background: #fff;
  opacity: 0.8;
  transition: all 0.4s ease;
}

.all-cate-sub {
  position: absolute;
  display: none;
  left: 30rem;
  top: 0;
  padding-left: 3rem;
}

.all-cate-sub a {
  display: block;
  font-size: 1.8rem;
  font-weight: 300;
  line-height: 2.8rem;
  color: #fff;
  margin-bottom: 1rem;
}

.all-right {
  display: block;
  width: calc(100% - 71rem);
  height: 100%;
  color: #fff;
  padding: 20rem 8rem 20rem 10rem;
}

.all-menu-area {
  display: flex;
  flex-wrap: wrap;
}

.all-menu {
  width: calc(100% / 5);
  max-width: 20.5rem;
  padding-right: 5rem;
  margin-bottom: 5.7rem;
}

.all-menu__tit {
  display: block;
  font-size: 2.4rem;
  font-weight: 500;
  line-height: 1;
  color: #333;
  margin-bottom: 2.2rem;
}

.all-menu__item {
  display: block;
  font-size: 1.8rem;
  font-weight: 300;
  line-height: 2.4rem;
  color: #666;
  margin-bottom: 1.4rem;
}

.all-menu__item:last-child {
  margin-bottom: 0;
}

.all-link-area {
  display: flex;
  width: 100%;
}

.all-link {
  display: block;
  width: calc(33.33% - 1.333rem);
  max-width: 32.9rem;
  height: 13rem;
  background-size: cover;
  padding: 4.2rem 3rem 0 3rem;
  margin-right: 2rem;
}

.all-link:last-child {
  margin-right: 0;
}

.all-link--1 {
  background: url('../images/all-link-1.jpg') no-repeat center;
}

.all-link--2 {
  background: url('../images/all-link-2.jpg') no-repeat center;
}

.all-link--3 {
  background: url('../images/all-link-3.jpg') no-repeat center;
}

.all-link span {
  font-size: 1.8rem;
  font-weight: 400;
  line-height: 2.4rem;
  color: #fff;
}

.all__close {
  position: absolute;
  right: 8rem;
  top: 8.5rem;
  display: block;
  width: 1.8rem;
  height: 1.8rem;
  font-size: 0;
  background: url('../images/all-menu-x-btn.png') no-repeat center;
  cursor: pointer;
}

/* CONTENTS */
.cont {
  position: relative;
  display: block;
}

/* MAIN */
.main {
  position: relative;
  display: block;
  padding-top: 16rem;
}

.main-swiper {
  position: relative;
  display: block;
}

.sw-main {
  position: relative;
  display: block;
  width: 100%;
  height: calc(100vh - 28rem);
  margin-top: 4rem;
  z-index: 0;
}

.sw-main .swiper-wrapper {
  position: relative;
  width: calc(100% - 16rem);
  height: 100%;
  margin: 0 auto;
}

.sw-main .swiper-slide {
  position: relative;
  display: block;
  width: 100%;
  height: 100%;
}

.sw-main-link span {
  position: relative;
  display: block;
  width: calc(100% - 16rem);
  height: 100%;
  background-size: cover;
  background-position: center;
}

.sw-main-link span video {
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.sw-main-link-2 span {
  background-image: url("../images/main-2.jpg");
}

.sw-main-link-3 span {
  background-image: url("../images/main-3.jpg");
}

.sw-main-link-4 span {
  background-image: url("../images/main-4.jpg");
}

.sw-main__prev,
.sw-sci__prev,
.sw-coll-new__prev,
.sw-coll-reco__prev {
  position: absolute;
  top: 50%;
  left: 0;
  transform: translateY(-50%);
  display: block;
  width: 8rem;
  height: 135px;
  cursor: pointer;
  z-index: 999;
}

.sw-coll-reco__prev {
  display: none;
}

.sw-main__prev::before,
.sw-sci__prev::before,
.sw-coll-new__prev::before,
.sw-coll-reco__prev::before {
  content: "";
  position: relative;
  display: block;
  width: 4px;
  height: 100%;
  background: #c9c9c9;
  margin: 0 auto;
}

.sw-main__next,
.sw-sci__next,
.sw-coll-new__next,
.sw-coll-reco__next {
  position: absolute;
  top: 50%;
  right: 0;
  transform: translateY(-50%);
  display: block;
  width: 8rem;
  height: 135px;
  cursor: pointer;
  z-index: 999;
}

.sw-coll-reco__next {
  display: none;
}

.sw-main__next::before,
.sw-sci__next::before,
.sw-coll-new__next::before,
.sw-coll-reco__next::before {
  content: "";
  position: relative;
  display: block;
  width: 4px;
  height: 100%;
  background: #c9c9c9;
  margin: 0 auto;
}

/* ACE SCIENCE */
.sci {
  position: relative;
  display: block;
  width: 100%;
  height: 891px;
  margin: 147px 0 8rem 0;
}

.sci-top {
  position: relative;
  display: block;
  margin-bottom: 41px;
}

.sci__tit {
  position: relative;
  display: block;
  width: 100%;
  font-size: 5rem;
  font-weight: 300;
  text-align: center;
  letter-spacing: 2px;
  color: #333;
}

.sci__more {
  position: absolute;
  top: 14px;
  right: 24rem;
  display: block;
  font-size: 16px;
  letter-spacing: 1px;
  color: #666;
}

.sci__more::after {
  content: "";
  display: inline-block;
  width: 3rem;
  height: 1px;
  vertical-align: middle;
  background: #666;
  margin-left: 14px;
}

.sci-main {
  position: relative;
  display: block;
}

.sci-swiper {
  position: relative;
  display: block;
  width: calc(100% - 32rem);
  overflow: hidden;
  margin: 0 auto;
}

.sw-sci {
  position: relative;
  display: block;
  width: calc(100% - 82rem);
  max-width: 71rem;
  height: 80rem;
  margin: 0 auto;
}

.sw-sci .swiper-slide {
  position: relative;
  display: block;
  width: 71rem;
  height: 80rem;
  overflow: hidden;
}

.sw-sci video {
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  display: block;
}

.sw-sci-pg {
  position: absolute;
  top: 50%;
  left: 0;
  transform: translateY(-50%);
  display: block;
  width: 30rem;
  height: 15rem;
  opacity: 1;
  z-index: 9;
}

.sw-sci__pg {
  display: block;
  width: 100%;
  height: 17px;
  font-size: 16px;
  letter-spacing: 1px;
  color: #999;
  opacity: 1;
  margin-bottom: 27px;
  cursor: pointer;
  transition: all 0.5s;
}

.sw-sci__pg:last-child {
  margin-bottom: 0;
}

.sw-sci__pg--focused {
  font-size: 22px;
  font-weight: bold;
  color: #0890c0;
}

.sci-txt-area {
  position: absolute;
  top: 50%;
  right: 0;
  transform: translateY(-50%);
  display: block;
  width: 385px;
  z-index: 9;
}

.sci-txt-wrap-2,
.sci-txt-wrap-3,
.sci-txt-wrap-4 {
  display: none;
}

.sci__txt-1 {
  position: relative;
  display: block;
  font-size: 4rem;
  font-weight: 500;
  line-height: 54px;
  letter-spacing: -3px;
  color: #333;
}

.sci__txt-2 {
  position: relative;
  display: block;
  font-size: 2rem;
  line-height: 3rem;
  margin-top: 24px;
}

/* ACE COLLECETION & ACE NEWS */
.collandnews {
  position: relative;
  display: block;
  background: #f4f7fa;
}

/* ACE COLLECTION */
.coll {
  position: relative;
  display: block;
  padding-top: 15rem;
}

.coll__tit {
  position: relative;
  display: block;
  width: 100%;
  font-size: 5rem;
  font-weight: 300;
  text-align: center;
  letter-spacing: 2px;
  color: #333;
}

.coll-top {
  position: relative;
  display: block;
}

.coll__more {
  position: absolute;
  top: 2rem;
  right: 16rem;
  display: block;
  font-size: 16px;
  letter-spacing: 1px;
  color: #666;
}

.coll__more::after {
  content: "";
  display: inline-block;
  width: 3rem;
  height: 1px;
  vertical-align: middle;
  background: #666;
  margin-left: 14px;
}

.coll-tab {
  position: relative;
  display: block;
  text-align: center;
  font-size: 0;
  margin-top: 43px;
}

.coll__menu {
  position: relative;
  display: inline-block;
  font-size: 22px;
  vertical-align: middle;
  color: #888;
  cursor: pointer;
}

.coll__menu--focused {
  font-weight: bold;
  color: #0890c0;
}

.coll-tab__bar {
  position: relative;
  display: inline-block;
  width: 2px;
  height: 2rem;
  vertical-align: middle;
  background: #ddd;
  margin: 0 26px;
}

.coll-main {
  position: relative;
  display: block;
  margin-top: 5rem;
}

.coll-new-swiper {
  display: block;
}

.coll-reco-swiper {
  display: none;
}

.sw-coll {
  position: relative;
  display: block;
  width: 128rem;
  height: 72rem;
  overflow: visible;
  margin-bottom: 4rem;
}

.sw-coll .swiper-wrapper {
  z-index: 1;
}

.sw-coll .swiper-slide {
  position: relative;
  display: block;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.sw-coll .swiper-slide::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  display: block;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  transition: all 0.4s ease;
}

.sw-coll .swiper-slide-active::after {
  background: transparent;
}

.sw-coll__img {
  position: relative;
  display: block;
  width: 100%;
  height: 100%;
}

.sw-coll__img::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  display: block;
  width: 128rem;
  height: 72rem;
  background: url("../images/dimd2_main.png");
}

.sw-coll__img img {
  width: 100%;
}

.coll-txt-area {
  position: absolute;
  top: 20rem;
  left: 10rem;
  display: block;
  color: #fff;
  z-index: 9;
  overflow: hidden;
  opacity: 0;
  transition: all 2s 0.5s;
}

.swiper-slide-active .coll-txt-area {
  top: 10rem;
  opacity: 1;
}

.coll-tag-area {
  position: relative;
  display: block;
  font-size: 0;
}

.coll__tag {
  position: relative;
  display: inline-block;
  font-size: 16px;
  line-height: 3rem;
  border: 1px solid #fff;
  border-radius: 15px;
  padding: 0 1rem;
}

.coll__name {
  position: relative;
  display: block;
  font-size: 3rem;
  font-weight: bold;
  margin-top: 3rem;
}

.coll__desc {
  position: relative;
  display: block;
  font-size: 18px;
  line-height: 3rem;
  margin-top: 3rem;
}

.coll-view-btn {
  position: relative;
  display: block;
  width: 108px;
  text-align: center;
  padding: 0 29px;
  margin-top: 6rem;
  overflow: hidden;
}

.coll-view-btn::before {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  display: block;
  width: 100%;
  height: 100%;
  border: 1px solid #fff;
  box-sizing: border-box;
}

.coll-view-btn::after {
  content: "";
  position: absolute;
  left: 0;
  top: 100%;
  display: block;
  width: 100%;
  height: 100%;
  background: #0890c0;
  opacity: 0;
  transition: all 0.4s ease;
}

.coll-view-btn:hover::after {
  top: 0;
  opacity: 1;
}

.coll__view {
  position: relative;
  display: block;
  font-size: 16px;
  font-weight: 500;
  line-height: 5rem;
  color: #fff;
  z-index: 9;
}

.sw-coll-new__sb,
.sw-coll-reco__sb {
  position: relative;
  display: block;
  width: 128rem;
  height: 4px;
  background: #dbdee1;
  margin: 0 auto;
}

.sw-coll-reco__sb {
  display: none;
}

.sw-coll-new__sb .swiper-scrollbar-drag,
.sw-coll-reco__sb .swiper-scrollbar-drag {
  width: 33.33%;
  background: #0890c0;
}

/* ACE NEWS */
.news {
  position: relative;
  display: block;
  padding: 15rem 0;
}

.news-top {
  position: relative;
  display: block;
}

.news__tit {
  position: relative;
  display: block;
  font-size: 5rem;
  font-weight: 300;
  line-height: 1.24;
  letter-spacing: 4.5px;
  text-align: center;
  color: #333;
  margin-bottom: 45px;
}

.news-main {
  position: relative;
  display: block;
  width: 144rem;
  margin: 0 auto;
}

.news__txt {
  position: absolute;
  top: 50%;
  left: 0;
  transform: translateY(-50%);
  display: block;
  font-size: 26px;
  line-height: 4rem;
  color: #333;
}

.sw-news {
  position: relative;
  display: block;
  width: 71rem;
  height: 71rem;
  margin: 0 auto;
}

.sw-news-pg {
  position: absolute;
  top: 50%;
  right: 0;
  transform: translateY(-50%);
  display: block;
  width: 315px;
}

.sw-news__pg {
  display: block;
  color: #999;
  border-bottom: 1px solid #ebebeb;
  padding: 4rem 0;
  cursor: pointer;
}

.sw-news__pg--focused {
  color: #0890c0;
}

.sw-news__pg em {
  position: relative;
  display: block;
  font-size: 16px;
  font-weight: 700;
  font-style: normal;
  margin-bottom: 15px;
}

.sw-news__pg span {
  position: relative;
  display: block;
  font-size: 2rem;
  line-height: 32px;
}

/* NOW SNS */
.sns {
  position: relative;
  display: block;
  padding: 15rem 0;
}

.sns-top {
  position: relative;
  display: block;
}

.sns__tit {
  position: relative;
  display: block;
  font-size: 5rem;
  font-weight: 300;
  letter-spacing: 2px;
  text-align: center;
  color: #333;
  margin-bottom: 4rem;
}

.sns-main {
  position: relative;
  display: block;
  width: 144rem;
  margin: 0 auto;
}

.sns-area {
  position: relative;
  display: block;
  margin-bottom: 4rem;
}

.sns-area a {
  position: relative;
  display: block;
  float: left;
  width: 33rem;
  height: 33rem;
  overflow: hidden;
  margin-right: 4rem;
}

.sns-area a:last-child {
  margin-right: 0;
}

.sns-area a img {
  position: relative;
  display: block;
  width: 100%;
  height: auto;
  transform: scale(1);
  transition: all 1s ease-out;
}

.sns-area a img:hover {
  transform: scale(1.1);
}

.sns-icon-area {
  position: relative;
  display: block;
  font-size: 0;
  text-align: center;
  padding-top: 1rem;
}

.sns__icon {
  position: relative;
  display: inline-block;
  width: 3rem;
  height: 27px;
  margin: 0 23px;
}

.sns__icon--i {
  background: url("../images/sns_icon_i.png") no-repeat center;
}

.sns__icon--f {
  background: url("../images/sns_icon_f.png") no-repeat center;
}

.sns__icon--b {
  background: url("../images/sns_icon_b.png") no-repeat center;
}

.sns__icon--y {
  background: url("../images/sns_icon_y.png") no-repeat center;
}

/* Map */
.map {
  position: relative;
  display: block;
  padding-bottom: 165px;
  margin-bottom: 15rem;
}

.map-bg {
  position: relative;
  display: block;
  height: 50rem;
  font-size: 0;
  background: url("../images/map.jpg") no-repeat;
  background-size: cover;
}

.srch-box {
  position: absolute;
  top: 24rem;
  left: calc(50% + 38rem);
  display: block;
  width: 34rem;
  height: 34rem;
  background: #0890c0;
  padding: 95px 7rem 9rem 7rem;
}

.srch-box__txt {
  position: relative;
  display: block;
  font-size: 2rem;
  line-height: 3rem;
  text-align: center;
  color: #fff;
  margin-bottom: 52px;
}

.srch-box-input {
  position: relative;
  display: block;
  border-bottom: 2px solid #ebebeb;
}

.srch-box__input {
  position: relative;
  display: block;
  float: left;
  width: calc(100% - 27px);
  height: 4rem;
  font-size: 16px;
  line-height: 3rem;
  letter-spacing: -0.6px;
  border: 0;
  color: rgba(255, 255, 255, 1);
  background: none;
}

.srch-box__input::placeholder {
  color: rgba(255, 255, 255, 0.5);
}

.srch-box__input:focus {
  outline: none;
}

.srch-box__icon {
  position: relative;
  display: block;
  float: left;
  width: 27px;
  height: 4rem;
  font-size: 0;
  background: url("../images/srch_box_icon.png") no-repeat center center;
}

.map-menu {
  position: absolute;
  bottom: 0;
  right: calc(50% + 92px);
  display: block;
  width: 70rem;
  height: 98px;
}

.map__menu {
  position: relative;
  display: block;
  float: left;
  width: 33.33%;
  text-align: center;
  border-right: 1px solid #ebebeb;
}

.map__menu:last-child {
  border-right: 1px solid transparent;
}

.map__menu--mn {
  background: url("../images/map_menu_1.png") no-repeat top;
}

.map__menu--as {
  background: url("../images/map_menu_2.png") no-repeat top;
}

.map__menu--qs {
  background: url("../images/map_menu_3.png") no-repeat top;
}

.map__menu span {
  position: relative;
  display: block;
  font-size: 2rem;
  color: #333;
  padding-top: 73px;
}

/* CS */
.cs {
  position: relative;
  display: flex;
  height: 362px;
}

.cs-left {
  position: relative;
  display: block;
  width: 50%;
  height: 100%;
  background: #f4f4f4;
}

.cs-left-cont {
  position: relative;
  display: table;
  float: right;
  width: 63rem;
  height: 100%;
  table-layout: fixed;
}

.cs-sc {
  position: relative;
  display: table-cell;
  width: 276px;
  vertical-align: middle;
}

.cs__tit {
  position: relative;
  display: block;
  font-size: 16px;
  font-weight: bold;
  color: #333;
  margin-bottom: 35px;
}

.cs__call {
  position: relative;
  display: block;
  font-size: 4rem;
  color: #333;
  letter-spacing: 3px;
  margin-bottom: 6px;
}

.cs__time {
  position: relative;
  display: block;
  font-size: 16px;
  color: #888;
}

.cs-as {
  position: relative;
  display: table-cell;
  width: 354px;
  vertical-align: middle;
}

.cs-right {
  position: relative;
  display: table;
  width: 50%;
  height: 100%;
  padding-left: 143px;
}

.cs-right-cont {
  position: relative;
  display: table-cell;
  font-size: 0;
  vertical-align: middle;
}

.cs__txt {
  position: relative;
  display: block;
  font-size: 3rem;
  font-weight: 400;
  line-height: 4rem;
  color: #333;
  margin-bottom: 3rem;
}

.cs-link-box {
  position: relative;
  display: inline-block;
  text-align: center;
  padding: 0 29px;
  margin-right: 1rem;
  overflow: hidden;
}

.cs-link-box::before {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  display: block;
  width: 100%;
  height: 100%;
  border: 1px solid #d1d1d1;
  border-radius: 1px;
  box-sizing: border-box;
  z-index: -99;
}

.cs-link-box::after {
  content: "";
  position: absolute;
  left: 0;
  top: 100%;
  display: block;
  width: 100%;
  height: 100%;
  background: #0890c0;
  opacity: 0;
  transition: all 0.4s ease;
  z-index: -9;
}

.cs-link-box:hover::after {
  top: 0;
  opacity: 1;
}

.cs__link {
  display: block;
  font-size: 16px;
  font-weight: 500;
  line-height: 5rem;
  letter-spacing: 1px;
  color: #777;
  transition: all 0.4s ease;
}

.cs-link-box:hover .cs__link {
  color: #fff;
}

.cs__more {
  position: absolute;
  bottom: 34px;
  left: 145px;
  display: block;
  font-size: 16px;
  font-weight: 300;
  line-height: 26px;
  letter-spacing: 2px;
  color: #666;
  margin-top: -13px;
}

.cs__more::after {
  content: "";
  display: inline-block;
  width: 3rem;
  height: 1px;
  vertical-align: 5px;
  background: #666;
  margin-left: 13px;
}

/* Side Button */
.side-btn {
  position: fixed;
  bottom: 0;
  right: 0;
  display: block;
  z-index: 999;
}

.side-btn-abs {
  position: absolute;
}

.go-top {
  position: relative;
  display: block;
  width: 8rem;
  height: 5rem;
  text-align: center;
  cursor: pointer;
  opacity: 0;
  transition: all 0.5s ease;
}

.go-top-show {
  opacity: 1;
}

.go-top span {
  position: relative;
  display: block;
  font-size: 13px;
  font-weight: 700;
  line-height: 5rem;
  letter-spacing: 0.8px;
  color: #333;
}

.quick {
  position: relative;
  display: block;
  width: 8rem;
  height: 8rem;
  text-align: center;
  line-height: 8rem;
  background: #f0f0f0;
  cursor: pointer;
  transition: all 0.5s ease;
}

.quick:hover {
  background: #0890c0;
}

.quick span {
  position: relative;
  display: block;
  font-size: 0;
}

.quick span::before {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: block;
  width: 2px;
  height: 28px;
  background: #919191;
}

.quick:hover span::before {
  background: #fff;
}

.quick span::after {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: block;
  width: 28px;
  height: 2px;
  background: #919191;
}

.quick:hover span::after {
  background: #fff;
}

/* Footer */
.footer {
  position: relative;
  display: block;
  height: 22rem;
  padding: 6rem 8rem 62px 8rem;
}

.footer-link-list {
  position: relative;
  display: block;
  margin-bottom: 1rem;
}

.footer-link-list li {
  position: relative;
  display: block;
  float: left;
  margin-right: 5rem;
}

.footer__link {
  position: relative;
  display: block;
  font-size: 16px;
  font-weight: 400;
  line-height: 36px;
  color: #333;
}

.footer__link em {
  font-weight: 700;
  font-style: normal;
  color: #0890c0;
}

.footer__addr {
  position: relative;
  display: block;
  font-size: 14px;
  font-weight: 300;
  font-style: normal;
  line-height: 3rem;
  color: #777;
}

.footer__copy {
  position: relative;
  display: block;
  font-size: 12px;
  font-weight: 300;
  line-height: 22px;
  letter-spacing: 1px;
  color: #777;
}

.family {
  position: absolute;
  top: 8rem;
  right: 8rem;
  display: block;
  width: 24rem;
}

.family__btn {
  position: relative;
  display: block;
  font-size: 16px;
  font-weight: 300;
  letter-spacing: 0.4px;
  color: #333;
  padding: 15px 0;
  background: url("../images/family-open.png") no-repeat right center;
  border-bottom: 2px solid #000;
  cursor: pointer;
}

.family-link-box {
  position: absolute;
  bottom: 0;
  left: 0;
  display: none;
  width: 100%;
  background: #000;
  padding: 14px 2rem;
  z-index: 9;
}

.family-link-list {
  position: relative;
  display: block;
}

.family__link {
  position: relative;
  display: block;
  width: 100%;
  font-size: 16px;
  font-weight: 300;
  color: #fff;
  padding-bottom: 26px;
}

.family__link:last-child {
  padding-bottom: 0;
}

.family__close-btn {
  position: absolute;
  bottom: 14px;
  right: 12px;
  display: block;
  width: 8rem;
  height: 16px;
  background: url("../images/family-close.png") no-repeat right center;
  cursor: pointer;
}

/* Black Background */
.black-bg {
  position: absolute;
  left: 0;
  top: 0;
  display: none;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.6);
  z-index: 999;
}