@charset "utf-8";
@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;300;400;500;700;900&display=swap");
@import url("../fonts/metropolis.css");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  color: #000;
  text-decoration: none;
}

img {
  border: 0;
  vertical-align: middle;
}

ul,
li {
  list-style: none;
}

html {
  font-size: 10px;
}

body {
  font-family: "Metropolis", "Noto Sans KR", sans-serif;
  font-size: 1.8rem;
  font-weight: 300;
  line-height: 1;
  letter-spacing: -.045rem;
  color: #666;
}

/* Common Class */
.clearfix::after {
  content: "";
  position: relative;
  display: block;
  width: 100%;
  clear: both;
}

.swiper-container {
  width: 100%;
  height: 100%;
}

.wrap {
  position: relative;
  display: block;
  overflow-x: hidden;
}

/* Header */
.header {
  position: fixed;
  left: 0;
  top: 0;
  display: block;
  width: 100%;
  height: 15.5rem;
  background-color: #fff;
  padding: 0 8rem;
  z-index: 999999;
  transition: all .4s ease-out;
}

.header--scr-show {
  box-shadow: 0 0 1.5rem rgb(0 0 0 / 10%);
}

.header--scr-hide {
  top: -15.5rem;
}

.header::after {
  content: '';
  position: absolute;
  left: 0;
  top: 0;
  display: block;
  width: 100%;
  height: 15.5rem;
  background-color: #fff;
  box-shadow: 1rem 1rem 1rem rgb(0 0 0 / 2%);
  opacity: 0;
  transition: all .4s ease;
}

.hover::after {
  height: 35rem;
  opacity: 1;
}

.header__logo {
  position: absolute;
  left: 50%;
  top: 7rem;
  transform: translateX(-50%);
  display: block;
  width: 18.2rem;
  height: 4.8rem;
  z-index: 99;
}

.header-top {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-end;
  width: 100%;
  padding: 2rem 0;
  z-index: 99;
}

.header-top a {
  display: block;
  font-size: 1.5rem;
  font-weight: 400;
  line-height: 3.6rem;
  color: #666;
  white-space: nowrap;
}

.header-top a:first-child {
  padding-right: 1.5rem;
  margin-right: 1.5rem;
}

.header-top a:first-child::after {
  content: '';
  position: absolute;
  right: 0;
  top: 1.1rem;
  display: block;
  width: .1rem;
  height: 1.2rem;
  background-color: #ebebeb;
  opacity: .2;
}

.header__wedding {
  width: 11.7rem;
  height: 3.6rem;
  font-weight: 500 !important;
  line-height: 1 !important;
  letter-spacing: -.045rem;
  text-align: center;
  color: #fff !important;
  background: #f78192 url("../images/wedding-icon.png") no-repeat left 1.5rem center;
  border-radius: 5rem;
  padding: 1.1rem 1.5rem 0 3.4rem;
  margin: 0 .5rem 0 2.6rem;
}

.header__bed-mall {
  width: 11.2rem;
  height: 3.6rem;
  font-weight: 500 !important;
  line-height: 1 !important;
  text-align: center;
  color: #fff !important;
  background-color: #9badb6;
  border: .1rem solid #9badb6;
  border-radius: 5rem;
  padding: 1rem 1.4rem 0 1.4rem;
}

.header-main {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  z-index: 9;
}

.gnb {
  display: flex;
  flex-wrap: wrap;
}

.gnb01 {
  padding: 0 10rem 8.5rem 0;
}

.gnb02 {
  padding: 0 8rem 8.5rem 10rem;
}

.dep01 {
  width: auto;
  transition: all .4s ease-out;
}

.gnb01 .dep01 {
  padding-right: 4rem;
}

.gnb01 .dep01:last-child {
  padding-right: 0;
}

.gnb02 .dep01 {
  text-align: left;
  padding-left: 4rem;
}

.gnb02 .dep01:first-child {
  padding-left: 0;
}

.gnb02 .dep01:last-child {
  width: 12.4rem;
}

.dep01>a {
  display: inline-block;
}

.dep01>a>span {
  font-size: 1.6rem;
  font-weight: 500;
  line-height: 3.6rem;
  color: #333;
}

.dep01:hover>a>span {
  color: #0890c0;
}

.gnb01 .dep01>a>span:last-child {
  display: none;
  font-weight: 700;
}

.dep02 {
  display: none;
  padding-top: 1rem;
}

.gnb02 .dep02 {
  text-align: left;
}

.dep02>a {
  display: block;
  padding: .5rem 0;
}

.dep02>a>span {
  position: relative;
  display: inline-block;
  font-size: 1.5rem;
  font-weight: 400;
  line-height: 2.5rem;
  white-space: nowrap;
  color: #666;
  z-index: 9;
}

.dep02>a>span::before {
  content: '';
  position: absolute;
  left: 0;
  bottom: .5rem;
  width: 0;
  height: .4rem;
  background-color: #d6eff8;
  z-index: -9;
  transition: all .4s ease-out;
}

.dep02>a>span:hover::before {
  width: 100%;
}

.srch__btn {
  position: absolute;
  right: 13.6rem;
  top: 8.4rem;
  display: block;
  width: 1.7rem;
  height: 1.8rem;
  font-size: 0;
  background: url("../images/gnb-srch-btn.png") no-repeat center;
  cursor: pointer;
  z-index: 9;
}

.srch-area {
  position: absolute;
  display: none;
  left: 0;
  top: 11.5rem;
  width: 100%;
  background-color: #fff;
  padding: 8.5rem 0 8rem 0;
}

.srch-input-area {
  position: relative;
  width: 65rem;
  padding-right: 4rem;
  margin: 0 auto;
}

.srch-input-area::after {
  content: '';
  position: absolute;
  left: 0;
  bottom: 0;
  display: block;
  width: 100%;
  height: .3rem;
  background-color: #000;
}

.srch__input {
  width: 100%;
  height: 6rem;
  font-size: 2rem;
  line-height: 6rem;
  letter-spacing: -.06rem;
  color: #333;
  border: 0;
}

.srch__input:focus {
  outline: none;
}

.srch-input-area .srch__btn {
  right: 0;
  top: 1.3rem;
  width: 2.7rem;
  height: 2.8rem;
  background: url('../images/srch-btn.png') no-repeat center;
}

.srch__close {
  position: absolute;
  left: 50%;
  bottom: -4.2rem;
  transform: translateX(-50%);
  display: block;
  width: 2.2rem;
  height: 2.2rem;
  font-size: 0;
  background: url('../images/srch-x-btn.png') no-repeat center;
  cursor: pointer;
}

.all__btn {
  position: absolute;
  right: 8rem;
  top: 8.4rem;
  display: block;
  width: 2.6rem;
  height: 1.8rem;
  font-size: 0;
  background: url("../images/all-menu-btn.png") no-repeat center;
  cursor: pointer;
  z-index: 9;
}

.all-area {
  position: absolute;
  left: 100%;
  top: 0;
  display: flex;
  width: 100%;
  height: 100vh;
  background-color: #fff;
  z-index: 99;
  transition: all .5s ease;
}

.all-area--open {
  left: 0;
}

.all-left {
  position: relative;
  width: 71rem;
  height: 100%;
  padding: 7rem 8rem;
}

.all-lang {
  position: relative;
  display: block;
  font-size: 0;
  margin-bottom: 8rem;
  z-index: 9;
}

.all-lang a {
  position: relative;
  display: inline-block;
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 4.5rem;
  color: #fff;
  padding: 0 1.8rem;
}

.all-lang a:first-child {
  font-weight: 700;
  padding-left: 0;
}

.all-lang a::after {
  content: '';
  position: absolute;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
  display: block;
  width: 0.1rem;
  height: 0.9rem;
  background-color: #fff;
  opacity: 0.2;
}

.all-lang a:last-child::after {
  display: none;
}

.all-cate-area {
  display: block;
  width: 100%;
}

.all-cate {
  display: block;
  width: 100%;
}

.all-cate-img {
  position: absolute;
  left: 0;
  top: 0;
  height: 100vh;
  overflow: hidden;
  opacity: 0;
  transition: all 0.4s ease;
}

.all-cate01 .all-cate-img {
  opacity: 1;
}

.all-cate-img img {
  width: 100%;
  height: 100%;
  transform: scale(1.07);
  transition: all 1s ease-out;
}

.only-web {
  display: block !important;
}

.only-mob {
  display: none !important;
}

.all-cate-txt {
  position: relative;
  display: flex;
  z-index: 9;
}

.all-cate-main {
  position: relative;
  display: flex;
  width: 30rem;
  margin-bottom: 3rem;
}

.all-cate-main>span {
  display: inline-block;
  width: auto;
  font-size: 3.4rem;
  font-weight: 700;
  line-height: 1;
  color: #fff;
  opacity: 0.4;
  cursor: pointer;
}

.all-cate__line {
  position: absolute;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
  display: block;
  width: 100%;
  height: .1rem;
  padding-left: 3rem;
  margin-bottom: .5rem;
}

.all-cate01 .all-cate__line {
  width: 23rem;
}

.all-cate02 .all-cate__line {
  width: 10.5rem;
}

.all-cate03 .all-cate__line {
  width: 8.9rem;
}

.all-cate04 .all-cate__line {
  width: 9.4rem;
}

.all-cate__line span {
  display: block;
  width: 0;
  height: 100%;
  background-color: #fff;
  opacity: .8;
  transition: all .4s ease;
}

.all-cate-sub {
  position: absolute;
  left: 30rem;
  top: 0;
  display: none;
  padding-left: 3rem;
}

.all-cate-sub a {
  display: block;
  font-size: 1.8rem;
  line-height: 2.8rem;
  color: #fff;
  margin-bottom: 1rem;
}

.all-right {
  width: calc(100% - 71rem);
  height: 100%;
  color: #fff;
  padding: 20rem 8rem 20rem 10rem;
}

.all-menu-area {
  display: flex;
  flex-wrap: wrap;
}

.all-menu {
  width: calc(100% / 5);
  max-width: 20.5rem;
  padding-right: 5rem;
  margin-bottom: 5.7rem;
}

.all-menu__tit {
  display: block;
  font-size: 2.4rem;
  font-weight: 500;
  line-height: 1;
  white-space: nowrap;
  color: #333;
  margin-bottom: 2.2rem;
}

.all-menu a {
  display: block;
  font-size: 1.8rem;
  line-height: 2.4rem;
  white-space: nowrap;
  color: #666;
  margin-bottom: 1.4rem;
}

.all-menu a:last-child {
  margin-bottom: 0;
}

.all-menu a:hover {
  color: #0890c0;
}

.all-link-area {
  display: flex;
  width: 100%;
}

.all-link {
  display: block;
  width: calc(33.33% - 1.333rem);
  max-width: 32.9rem;
  height: 13rem;
  padding: 4.2rem 3rem 0 3rem;
  margin-right: 2rem;
}

.all-link:last-child {
  margin-right: 0;
}

.all-link--01 {
  background: url('../images/all-link-1.jpg') no-repeat center;
  background-size: cover;
}

.all-link--02 {
  background: url('../images/all-link-2.jpg') no-repeat center;
  background-size: cover;
}

.all-link--03 {
  background: url('../images/all-link-3.jpg') no-repeat center;
  background-size: cover;
}

.all-link span {
  font-size: 1.8rem;
  font-weight: 400;
  line-height: 2.4rem;
  color: #fff;
}

.all__close {
  position: absolute;
  right: 8rem;
  top: 8.5rem;
  display: block;
  width: 1.8rem;
  height: 1.8rem;
  font-size: 0;
  background: url('../images/all-menu-x-btn.png') no-repeat center;
  cursor: pointer;
  z-index: 99;
}

/* Contents */
.contents {
  position: relative;
  display: block;
}

/* Main */
.main {
  position: relative;
  display: block;
  padding-top: 16rem;
}

.main-swiper {
  position: relative;
}

.sw-main {
  position: relative;
  display: block;
  width: 100%;
  height: calc(100vh - 28rem);
  margin-top: 4rem;
  z-index: 0;
}

.sw-main ul {
  width: calc(100% - 16rem);
  height: 100%;
  margin: 0 auto;
}

.sw-main li {
  display: block;
  width: 100%;
  height: 100%;
}

.sw-main-link span {
  position: relative;
  display: block;
  width: calc(100% - 16rem);
  height: 100%;
}

.sw-main-link span video {
  position: absolute;
  left: 50%;
  top: 0;
  transform: translateX(-50%);
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.sw-main-link02 span {
  background: url("../images/main-2.jpg") no-repeat center;
  background-size: cover;
}

.sw-main-link03 span {
  background: url("../images/main-3.jpg") no-repeat center;
  background-size: cover;
}

.sw-main-link04 span {
  background: url("../images/main-4.jpg") no-repeat center;
  background-size: cover;
}

.sw-main__prev,
.sw-sci__prev,
.sw-coll-new__prev,
.sw-coll-reco__prev {
  position: absolute;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
  display: block;
  width: 7rem;
  height: 15rem;
  background: none;
  border: 0;
  cursor: pointer;
  z-index: 999;
}

.sw-coll-reco__prev {
  display: none;
}

.sw-main__prev svg,
.sw-sci__prev svg,
.sw-coll-new__prev svg,
.sw-coll-reco__prev svg {
  position: absolute;
  left: 0;
  top: 0;
  width: 5rem;
  height: 15rem;
}

.sw-main__prev path,
.sw-sci__prev path,
.sw-coll-new__prev path,
.sw-coll-reco__prev path {
  stroke: #c9c9c9;
  stroke-width: 4;
  stroke-linecap: round;
  fill: transparent;
  transition: 1s;
}

.sw-main__prev span,
.sw-sci__prev span,
.sw-coll-new__prev span,
.sw-coll-reco__prev span {
  position: absolute;
  right: -1rem;
  top: 50%;
  transform: translateY(-50%) rotate(-90deg);
  font-size: 1.5rem;
  font-weight: 300;
  line-height: 1;
  letter-spacing: .1rem;
  color: #333;
  opacity: 0;
}

.sw-coll-new__prev span,
.sw-coll-reco__prev span {
  color: #fff;
}

.sw-main__prev:hover span,
.sw-sci__prev:hover span,
.sw-coll-new__prev:hover span,
.sw-coll-reco__prev:hover span {
  opacity: 1;
}

.sw-main__next,
.sw-sci__next,
.sw-coll-new__next,
.sw-coll-reco__next {
  position: absolute;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
  display: block;
  width: 7rem;
  height: 15rem;
  background: none;
  border: 0;
  cursor: pointer;
  z-index: 999;
}

.sw-coll-reco__next {
  display: none;
}

.sw-main__next svg,
.sw-sci__next svg,
.sw-coll-new__next svg,
.sw-coll-reco__next svg {
  position: absolute;
  right: 0;
  top: 0;
  width: 5rem;
  height: 15rem;
}

.sw-main__next path,
.sw-sci__next path,
.sw-coll-new__next path,
.sw-coll-reco__next path {
  stroke: #c9c9c9;
  stroke-width: 4;
  stroke-linecap: round;
  fill: transparent;
  transition: 1s;
}

.sw-main__next span,
.sw-sci__next span,
.sw-coll-new__next span,
.sw-coll-reco__next span {
  position: absolute;
  left: -1rem;
  top: 50%;
  transform: translateY(-50%) rotate(90deg);
  font-size: 1.5rem;
  font-weight: 300;
  line-height: 1;
  letter-spacing: .1rem;
  color: #333;
  opacity: 0;
}

.sw-coll-new__next span,
.sw-coll-reco__next span {
  color: #fff;
}

.sw-main__next:hover span,
.sw-sci__next:hover span,
.sw-coll-new__next:hover span,
.sw-coll-reco__next:hover span {
  opacity: 1;
}

.swiper-button-disabled {
  cursor: initial;
}

.swiper-button-disabled path {
  stroke: #ececec;
}

.swiper-button-disabled:hover span {
  opacity: 0;
}

/* ACE SCIENCE */
.sci {
  position: relative;
  display: block;
  width: 100%;
  height: 89.1rem;
  margin: 14.7rem 0 8rem 0;
}

.sci-top {
  position: relative;
  display: block;
  margin-bottom: 4.1rem;
}

.sci__tit {
  display: block;
  width: 100%;
  font-size: 5rem;
  font-weight: 300;
  letter-spacing: .2rem;
  text-align: center;
  color: #333;
}

.sci__more {
  position: absolute;
  right: 24rem;
  top: 1.4rem;
  display: block;
  font-size: 1.6rem;
  letter-spacing: .1rem;
  color: #666;
}

.sci__more::after {
  content: "";
  display: inline-block;
  width: 3rem;
  height: .1rem;
  vertical-align: middle;
  background-color: #666;
  margin-left: 1.4rem;
}

.sci-main {
  position: relative;
  display: block;
}

.sci-swiper {
  position: relative;
  display: block;
  width: calc(100% - 32rem);
  margin: 0 auto;
  overflow: hidden;
}

.sw-sci {
  display: block;
  width: calc(100% - 82rem);
  max-width: 71rem;
  height: 80rem;
  margin: 0 auto;
}

.sw-sci li {
  position: relative;
  display: block;
  width: 71rem;
  height: 80rem;
  overflow: hidden;
}

.sw-sci video {
  position: absolute;
  left: 50%;
  top: 0;
  transform: translateX(-50%);
  display: block;
}

.sw-sci-pg-area {
  position: absolute;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
  display: block;
  width: 30rem;
  height: 15rem;
  opacity: 1;
  z-index: 9;
}

.sw-sci__pg {
  display: block;
  width: 100%;
  height: 1.7rem;
  font-size: 1.6rem;
  letter-spacing: .1rem;
  color: #999;
  margin-bottom: 2.7rem;
  opacity: 1;
  cursor: pointer;
  transition: all 0.5s;
}

.sw-sci__pg:last-child {
  margin-bottom: 0;
}

.sw-sci__pg--focused {
  font-size: 2.2rem;
  font-weight: bold;
  color: #0890c0;
}

.sci-txt-area {
  position: absolute;
  right: 0;
  top: 0;
  display: block;
  width: 38.5rem;
  height: 100%;
  z-index: 9;
}

.sci-txt-wrap {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  display: block;
  width: 100%;
  height: auto;
}

.sci__txt01 {
  font-size: 4rem;
  font-weight: 500;
  line-height: 5.4rem;
  letter-spacing: -.3rem;
  word-break: keep-all;
  color: #333;
  margin-bottom: 2.4rem;
  transform: translateY(-10rem);
  opacity: 0;
  transition: all 1s 1s;
}

.sci__txt02 {
  font-size: 2rem;
  line-height: 3rem;
  word-break: keep-all;
  transform: translateY(-10rem);
  opacity: 0;
  transition: all 1s .5s;
}

.sci__txt--show {
  transform: translateY(0);
  opacity: 1;
}

/* ACE COLLECETION & ACE NEWS */
.collandnews {
  position: relative;
  display: block;
  background-color: #f4f7fa;
}

/* ACE COLLECTION */
.coll {
  position: relative;
  display: block;
  padding-top: 15rem;
}

.coll-top {
  position: relative;
  display: block;
}

.coll__tit {
  display: block;
  width: 100%;
  font-size: 5rem;
  font-weight: 300;
  letter-spacing: .2rem;
  text-align: center;
  color: #333;
}

.coll__more {
  position: absolute;
  right: 16rem;
  top: 2rem;
  display: block;
  font-size: 1.6rem;
  letter-spacing: .1rem;
  color: #666;
}

.coll__more::after {
  content: "";
  display: inline-block;
  width: 3rem;
  height: .1rem;
  vertical-align: middle;
  background-color: #666;
  margin-left: 1.4rem;
}

.coll-tab {
  display: block;
  text-align: center;
  font-size: 0;
  margin-top: 4.3rem;
}

.coll__menu {
  display: inline-block;
  font-size: 2.2rem;
  vertical-align: middle;
  color: #888;
  cursor: pointer;
}

.coll__menu--focused {
  font-weight: bold;
  color: #0890c0;
}

.coll-tab__bar {
  display: inline-block;
  width: .2rem;
  height: 2rem;
  vertical-align: middle;
  background-color: #ddd;
  margin: 0 2.6rem;
}

.coll-main {
  position: relative;
  display: block;
  margin-top: 5rem;
}

.coll-new-swiper {
  display: block;
}

.coll-reco-swiper {
  display: none;
}

.sw-coll {
  display: block;
  width: 128rem;
  height: 72rem;
  padding-bottom: 4rem;
  overflow: visible;
}

.sw-coll .swiper-wrapper {
  position: relative;
  z-index: 1;
}

.sw-coll li {
  position: relative;
  display: block;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.sw-coll li::after {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  display: block;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, .5);
  transition: all .4s ease;
}

.sw-coll .swiper-slide-active::after {
  background-color: transparent;
}

.sw-coll__img {
  position: relative;
  display: block;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.sw-coll__img::after {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  display: block;
  width: 128rem;
  height: 72rem;
  background: url("../images/dimd2_main.png") no-repeat center;
}

.sw-coll__img img {
  width: 100%;
}

.coll-txt-area {
  position: absolute;
  top: 20rem;
  left: 10rem;
  display: block;
  color: #fff;
  z-index: 9;
  overflow: hidden;
  opacity: 0;
  transition: all 2s .5s;
}

.swiper-slide-active .coll-txt-area {
  top: 10rem;
  opacity: 1;
}

.coll-tag-area {
  display: block;
  font-size: 0;
}

.coll__tag {
  display: inline-block;
  font-size: 1.6rem;
  line-height: 3rem;
  border: .1rem solid #fff;
  border-radius: 1.5rem;
  padding: 0 1rem;
}

.coll__name {
  display: block;
  font-size: 3rem;
  font-weight: bold;
  margin-top: 3rem;
}

.coll__desc {
  display: block;
  font-size: 1.8rem;
  line-height: 3rem;
  margin-top: 3rem;
}

.coll-view-btn {
  position: relative;
  display: block;
  width: 10.8rem;
  text-align: center;
  padding: 0 2.9rem;
  margin-top: 6rem;
  overflow: hidden;
}

.coll-view-btn::before {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  display: block;
  width: 100%;
  height: 100%;
  box-sizing: border-box;
  border: .1rem solid #fff;
}

.coll-view-btn::after {
  content: "";
  position: absolute;
  left: 0;
  top: 100%;
  display: block;
  width: 100%;
  height: 100%;
  background-color: #0890c0;
  opacity: 0;
  transition: all .4s ease;
}

.coll-view-btn:hover::after {
  top: 0;
  opacity: 1;
}

.coll__view {
  position: relative;
  display: block;
  font-size: 1.6rem;
  font-weight: 500;
  line-height: 5rem;
  color: #fff;
  z-index: 9;
}

.sw-coll-new__bar,
.sw-coll-reco__bar {
  position: absolute;
  left: 50%;
  bottom: 0;
  transform: translateX(-50%);
  width: 128rem;
  height: .4rem;
  background-color: #dbdee1;
  margin: 0 auto;
  opacity: 0;
  visibility: hidden;
}

.sw-coll__bar--show {
  opacity: 1;
  visibility: visible;
}

.sw-coll-new__bar .swiper-scrollbar-drag,
.sw-coll-reco__bar .swiper-scrollbar-drag {
  background-color: #0890c0;
}

/* ACE NEWS */
.news {
  position: relative;
  display: block;
  padding: 15rem 0;
}

.news-top {
  display: block;
}

.news__tit {
  display: block;
  font-size: 5rem;
  font-weight: 300;
  line-height: 1.24;
  letter-spacing: .45rem;
  text-align: center;
  color: #333;
  margin-bottom: 4.5rem;
}

.news-main {
  position: relative;
  display: block;
  width: 144rem;
  margin: 0 auto;
}

.news__txt {
  position: absolute;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
  display: block;
  font-size: 2.6rem;
  line-height: 4rem;
  color: #333;
}

.sw-news {
  position: relative;
  display: block;
  width: 71rem;
  height: 71rem;
  margin: 0 auto;
}

.sw-news-pg {
  position: absolute;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
  display: block;
  width: 31.5rem;
}

.sw-news__pg {
  display: block;
  color: #999;
  border-bottom: .1rem solid #ebebeb;
  padding: 4rem 0;
  cursor: pointer;
}

.sw-news__pg--focused {
  color: #0890c0;
}

.sw-news__pg span {
  display: block;
  font-size: 2rem;
  line-height: 3.2rem;
}

.sw-news__pg span em {
  font-size: 1.6rem;
  font-weight: 700;
  font-style: normal;
  margin-bottom: 1.5rem;
}

/* NOW SNS */
.sns {
  position: relative;
  display: block;
  padding: 15rem 0;
}

.sns-top {
  display: block;
}

.sns__tit {
  display: block;
  font-size: 5rem;
  font-weight: 300;
  letter-spacing: .2rem;
  text-align: center;
  color: #333;
  margin-bottom: 4rem;
}

.sns-main {
  display: block;
  width: 144rem;
  margin: 0 auto;
}

.sns-area {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-bottom: 4rem;
}

.sns-area a {
  display: block;
  width: 33rem;
  height: 33rem;
  overflow: hidden;
}

.sns-area a:nth-child(n + 5) {
  margin-top: 4rem;
}

.sns-area a img {
  display: block;
  width: 100%;
  height: auto;
  transform: scale(1);
  transition: all 1s ease-out;
}

.sns-area a img:hover {
  transform: scale(1.1);
}

.sns-icon-area {
  display: block;
  font-size: 0;
  text-align: center;
  padding-top: 1rem;
}

.sns__icon {
  display: inline-block;
  width: 3rem;
  height: 2.7rem;
  margin: 0 2.3rem;
}

.sns__icon--i {
  background: url("../images/sns_icon_i.png") no-repeat center;
}

.sns__icon--f {
  background: url("../images/sns_icon_f.png") no-repeat center;
}

.sns__icon--b {
  background: url("../images/sns_icon_b.png") no-repeat center;
}

.sns__icon--y {
  background: url("../images/sns_icon_y.png") no-repeat center;
}

/* Map */
.map {
  position: relative;
  display: block;
  padding-bottom: 16.5rem;
  margin-bottom: 15rem;
}

.map-bg {
  display: block;
  height: 50rem;
  font-size: 0;
  background: url("../images/map.jpg") no-repeat center;
  background-size: cover;
}

.srch-box {
  position: absolute;
  left: calc(50% + 38rem);
  top: 24rem;
  display: block;
  width: 34rem;
  height: 34rem;
  background-color: #0890c0;
  padding: 9.5rem 7rem 9rem 7rem;
}

.srch-box__txt {
  display: block;
  font-size: 2rem;
  line-height: 3rem;
  text-align: center;
  color: #fff;
  margin-bottom: 5.2rem;
}

.srch-box-input {
  display: block;
  border-bottom: .2rem solid #ebebeb;
}

.srch-box__input {
  display: block;
  float: left;
  width: calc(100% - 2.7rem);
  height: 4rem;
  font-size: 1.6rem;
  line-height: 3rem;
  letter-spacing: -.06rem;
  color: rgba(255, 255, 255, 1);
  background: none;
  border: 0;
}

.srch-box__input::placeholder {
  color: rgba(255, 255, 255, 0.5);
}

.srch-box__input:focus {
  outline: none;
}

.srch-box__icon {
  display: block;
  float: left;
  width: 2.7rem;
  height: 4rem;
  font-size: 0;
  background: url("../images/srch_box_icon.png") no-repeat center center;
}

.map-menu-area {
  position: absolute;
  right: calc(50% + 9.2rem);
  bottom: 0;
  display: flex;
  width: 70rem;
  height: 9.8rem;
}

.map__menu {
  display: block;
  width: 33.33%;
  text-align: center;
  border-right: .1rem solid #ebebeb;
}

.map__menu:last-child {
  border-right: .1rem solid transparent;
}

.map__menu--mn {
  background: url("../images/map_menu_1.png") no-repeat top;
}

.map__menu--as {
  background: url("../images/map_menu_2.png") no-repeat top;
}

.map__menu--qs {
  background: url("../images/map_menu_3.png") no-repeat top;
}

.map__menu span {
  display: block;
  font-size: 2rem;
  color: #333;
  padding-top: 7.3rem;
}

/* CS */
.cs {
  position: relative;
  display: flex;
  height: 36.2rem;
}

.cs-left {
  display: block;
  width: 50%;
  height: 100%;
  background-color: #f4f4f4;
}

.cs-left-cont {
  display: table;
  table-layout: fixed;
  float: right;
  width: 63rem;
  height: 100%;
}

.cs-sc {
  display: table-cell;
  width: 27.6rem;
  vertical-align: middle;
}

.cs__tit {
  display: block;
  font-size: 1.6rem;
  font-weight: bold;
  color: #333;
  margin-bottom: 3.5rem;
}

.cs__call {
  display: block;
  font-size: 4rem;
  letter-spacing: .3rem;
  color: #333;
  margin-bottom: .6rem;
}

.cs__time {
  display: block;
  font-size: 1.6rem;
  color: #888;
}

.cs-as {
  display: table-cell;
  width: 35.4rem;
  vertical-align: middle;
}

.cs-right {
  position: relative;
  display: table;
  width: 50%;
  height: 100%;
  padding-left: 14.3rem;
}

.cs-right-cont {
  position: relative;
  display: table-cell;
  font-size: 0;
  vertical-align: middle;
}

.cs__txt {
  display: block;
  font-size: 3rem;
  font-weight: 400;
  line-height: 4rem;
  color: #333;
  margin-bottom: 3rem;
}

.cs-link-box {
  position: relative;
  display: inline-block;
  text-align: center;
  padding: 0 2.9rem;
  margin-right: 1rem;
  overflow: hidden;
}

.cs-link-box::before {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  display: block;
  width: 100%;
  height: 100%;
  box-sizing: border-box;
  border: .1rem solid #d1d1d1;
  border-radius: .1rem;
  z-index: -99;
}

.cs-link-box::after {
  content: "";
  position: absolute;
  left: 0;
  top: 100%;
  display: block;
  width: 100%;
  height: 100%;
  background-color: #0890c0;
  opacity: 0;
  transition: all .4s ease;
  z-index: -9;
}

.cs-link-box:hover::after {
  top: 0;
  opacity: 1;
}

.cs__link {
  display: block;
  font-size: 1.6rem;
  font-weight: 500;
  line-height: 5rem;
  letter-spacing: .1rem;
  color: #777;
  transition: all 0.4s ease;
}

.cs-link-box:hover .cs__link {
  color: #fff;
}

.cs__more {
  position: absolute;
  left: 14.5rem;
  bottom: 3.4rem;
  display: block;
  font-size: 1.6rem;
  line-height: 2.6rem;
  letter-spacing: .2rem;
  color: #666;
  margin-top: -1.3rem;
}

.cs__more::after {
  content: "";
  display: inline-block;
  width: 3rem;
  height: .1rem;
  vertical-align: .5rem;
  background-color: #666;
  margin-left: 1.3rem;
}

/* Side button */
.side-btn {
  position: fixed;
  right: 0;
  bottom: 0;
  display: block;
  z-index: 999;
}

.side-btn--abs {
  position: absolute;
}

.go-top {
  display: block;
  width: 8rem;
  height: 5rem;
  text-align: center;
  cursor: pointer;
  opacity: 0;
  visibility: hidden;
  transition: all .5s ease;
}

.go-top--show {
  opacity: 1;
  visibility: visible;
}

.go-top span {
  display: block;
  font-size: 1.3rem;
  font-weight: 700;
  line-height: 5rem;
  letter-spacing: .08rem;
  color: #333;
}

.quick-btn {
  display: block;
  width: 8rem;
  height: 8rem;
  line-height: 8rem;
  text-align: center;
  background-color: #f0f0f0;
  cursor: pointer;
  transition: all .5s ease;
}

.quick-btn:hover {
  background-color: #0890c0;
}

.quick-btn span {
  position: relative;
  display: block;
  font-size: 0;
}

.quick-btn span::before {
  content: "";
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  display: block;
  width: .2rem;
  height: 2.8rem;
  background-color: #919191;
}

.quick-btn:hover span::before {
  background-color: #fff;
}

.quick-btn span::after {
  content: "";
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  display: block;
  width: 2.8rem;
  height: .2rem;
  background-color: #919191;
}

.quick-btn:hover span::after {
  background-color: #fff;
}

/* Footer */
.footer {
  position: relative;
  display: block;
  height: 22rem;
  padding: 6rem 8rem 6.2rem 8rem;
}

.footer-link-list {
  display: flex;
  margin-bottom: 1rem;
}

.footer-link-list li {
  display: block;
  margin-right: 5rem;
}

.footer__link {
  display: block;
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 3.6rem;
  color: #333;
}

.footer__link em {
  font-weight: 700;
  font-style: normal;
  color: #0890c0;
}

.footer__addr {
  display: block;
  font-size: 1.4rem;
  font-style: normal;
  line-height: 3rem;
  color: #777;
}

.footer__copy {
  display: block;
  font-size: 1.2rem;
  line-height: 2.2rem;
  letter-spacing: .1rem;
  color: #777;
}

.family {
  position: absolute;
  right: 8rem;
  top: 8rem;
  display: block;
  width: 24rem;
}

.family__btn {
  display: block;
  font-size: 1.6rem;
  letter-spacing: .04rem;
  color: #333;
  background: url("../images/family-open.png") no-repeat right center;
  border-bottom: .2rem solid #000;
  padding: 1.5rem 0;
  cursor: pointer;
}

.family-link-box {
  position: absolute;
  left: 0;
  bottom: 0;
  display: none;
  width: 100%;
  background-color: #000;
  padding: 1.4rem .2rem;
  z-index: 9;
}

.family-link-list {
  display: block;
}

.family__link {
  display: block;
  width: 100%;
  font-size: 1.6rem;
  color: #fff;
  padding-bottom: 2.6rem;
}

.family__link:last-child {
  padding-bottom: 0;
}

.family__close-btn {
  position: absolute;
  right: 1.2rem;
  bottom: 1.4rem;
  display: block;
  width: 8rem;
  height: 1.6rem;
  background: url("../images/family-close.png") no-repeat right center;
  cursor: pointer;
}

/* Quick */
.quick {
  position: fixed;
  right: -100%;
  bottom: 0;
  width: 28rem;
  z-index: 9999;
  transition: all .3s;
}

.quick--show {
  right: 0;
}

.quick-top {
  height: 24rem;
  background: url('../images/quick-top.jpg') no-repeat center;
  background-size: cover;
  padding: 5.7rem 4rem 4.8rem 4rem;
}

.quick-top p {
  font-size: 2rem;
  font-weight: 300;
  line-height: 2.6rem;
  color: #fff;
  margin-bottom: 3.7rem;
}

.quick-top a {
  position: relative;
  font-size: 1.4rem;
  font-weight: 700;
  line-height: 2rem;
  color: #fff;
}

.quick-top a::before {
  content: '';
  position: absolute;
  left: 0;
  bottom: -.3rem;
  width: 0;
  height: .7rem;
  background-color: rgba(255, 255, 255, 0.3);
  transition: all .4s ease-out;
}

.quick-top a:hover::before {
  width: 100%;
}

.quick-bot {
  height: 31.6rem;
  background-color: #f7f7f7;
  padding: 3rem 4rem 0 4rem;
}

.quick-link {
  display: block;
  width: 100%;
  padding: 1.9rem 0 1.9rem 6.6rem;
}

.quick-link01 {
  background: url('../images/quick-bot01.png') no-repeat left center;
}

.quick-link02 {
  background: url('../images/quick-bot02.png') no-repeat left center;
}

.quick-link03 {
  background: url('../images/quick-bot03.png') no-repeat left center;
}

.quick-link span {
  font-size: 1.4rem;
  font-weight: 700;
  line-height: 2rem;
  color: #333;
}

.quick__close {
  position: absolute;
  right: 2.8rem;
  bottom: 2.8rem;
  width: 2.4rem;
  height: 2.4rem;
  font-size: 0;
  border: 0;
  background: url('../images/quick-x-btn.png') no-repeat center;
  cursor: pointer;
}

/* Black background */
.black-bg {
  position: absolute;
  left: 0;
  top: 0;
  display: none;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.6);
  z-index: 999;
}